* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 1366px; /*colocar em 100vw para manter a responsividade*/
    height: 750px;
    background: url("/styles/images/Background_Intro.png") no-repeat center/cover;
    /* border: 1px solid red; */

    & > div:nth-child(1) {
        width: 32px;
        height: 32px;
        /* border: 1px solid red ; */
        position: absolute;
        top: 661px;
}

}

.info {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1040px;
    height: 447px;
    margin: 120px auto 183px;
    gap: 80px;
}

.header {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 680px;
    height: 327px;
    gap: 56px;

    & .avatar {
    /* border: 1px solid blue; */
    display: flex;
    width: 112px;
    height: 112px;
    position: relative;
    
    justify-content:center;

    }
}

.avatar p {
    display: flex;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 75px;
    left: 75px;
    background: url("/styles/icons_1/codeVector.png") no-repeat center/cover;
    padding: 3.5px 0.5px;
}



.user {
    border: 2px solid var(--color-red);
    border-radius: 9999px;
    width: 96px;
    height: 96px;
    display: flex;
    margin-top: 8px;
    justify-content: center;
    padding: 4.36px;

    & img {
        background-color: yellow;
        /* object-fit: cover; */
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
}

.text { 
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 680px;
    height: 159px;
    text-align: center;
    font: var(--subtitle);

    & .title {
        width: 680px;
        height: 99px;
    }

    & .title p {
        /* border: 1px solid red; */

        height: 24px;
        color: var(--base-gray5);
        margin-bottom: 8px;
    }

    & .title p span {
       color: var(--color-red); 
    }

    & .title p:nth-child(2) {
        /* border: 1px solid blue; */
        height: 67px;
        /* font: var(--title-lg); */
    }

    & p{
        height: 40px;
        color: var(--base-gray4);
    }
}

.tags {
    /* border: 1px solid red; */
    
    display: flex;
    width: 754px;
    height: 40px;
    gap: 16px;
    color: var(--base-gray5);
    justify-content: center;


    & .tag {
        display: flex;
        width: 100%;
        height: 40px;
        padding: 8px 16px;
        gap: 8px;
        justify-content: center;
        align-items: center;
        background-color: var(--base-gray3);
        border-radius: 100px;
    }

    & img {
        /* border: 1px solid blue; */
        width: 24px;
        height: 24px;
    }

}


/*Parte 2 - Projects*/


#projects {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    background-color: var(--base-gray2);
    width: 1366px;
    height: 917px;
    padding-top: 72px;

    & .header2 {
        /* border: 1px solid red; */

        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        width: 1040px;
        height: 61px;
        
    }

    & .header2 p {
        /* border: 1px solid blue; */

    }

    & .header2 p:nth-child(1) {
        color: var(--color-red);
        height: 24px;
    }

    & .header2 p:nth-child(2) {
        color: var(--base-gray6);
        height: 29px;
    }

}


.grid {
    /* border: 1px solid red; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 1040px;
    height: 584px;

    & .card {
        /* border: 1px solid red; */

        display: flex;
        background-color: var(--base-gray3);
        flex-direction: column;
        align-items: center;
        width: 330px;
        height: 280px;
        padding-inline: 12px;
        padding-top: 12px;
        gap: 20px;
        border-radius: 12px;
    }

    & .card img {
        width: 306px;
        height: 156px;
        border-radius: 8px;
    }

    & .text-card {
        /* border: 1px solid blue; */

        display: flex;
        flex-direction: column;
        gap: 8px;
        
    }

    & .text-card p:nth-child(1) {
        font: var(--title-sm);
        color: var(--base-gray6);
    }

    & .text-card p:nth-child(2) {
        font: var(--text-sm);
        color: var(--base-gray5);
    }
}



/*SERVIÇOS*/


#services {
    /* border: 1px solid red; */

    display: flex;
    background-color: var(--base-gray1);
    flex-direction: column;
    width: 1366px;
    height: 480px;
    gap: 56px;
    align-items: center;
    padding-block: 88px 120px;

    & .header3 {
        /* border: 1px solid red; */

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 355px;
        height: 61px;

    }

    & .header3 p:nth-child(1) {
        font: var(--subtitle);
        color: var(--color-red);
        height: 24px;
    
    }
    & .header3 p:nth-child(2) {
        font: var(--title-md);
        color: var(--base-gray6);
        height: 29px;
    }
    
}

.grid2 {
    /* border: 1px solid red; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 888px;
    height: 155px;
    gap: 24px;

    & .card2 {
        border: 2px solid var(--base-gray2);

        width: 280px;
        height: 155px;
        padding-inline: 20px;
        padding-top: 20px;
        border-radius: 12px;
    }

    & .card2 img {
        width: 48px;
        height: 48px;
    }

    & .header4{

        display: flex;
        flex-direction: column;
        width: 240px;
        height: 47px;
        gap: 8px;
        padding-top: 20px;
        
    }


    & .header4 p:nth-child(1) {
        font: var(--title-sm);
        color: var(--base-gray6);
        height: 19px;
    }

    & .header4 p:nth-child(2) {
        font: var(--text-sm);
        color: var(--base-gray5);
        height: 20px;
    }
}


.card2:hover {
    border: 1.5px solid var(--base-gray4);
}